body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
}
/* color */
.color-primary{
    color: #e70000!important;
}
.color-light{
    color: #c6c6c6!important;
}
bg-light{
    background-color: #eaeaea !important;
}
/* /.color */

/* heading */
.heading-lg{
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}
/* /.heading */

/* text */
.text-lg{
    font-size: 18px;
}
.text-md{
    font-size: 16px;
}
.fw-medium{
    font-weight: 500;
}
.section-title{
    font-size: 18px;
}
/* /.text */

/* button */
.button{
    padding: 18px 36px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.button-primary {
    color: #FFF!important;
    background-color: black!important;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e70000!important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: 0.3s;
    text-decoration: none!important;
}
.slide-right-primary:hover {
    box-shadow: inset 400px 0 0 0 #e70000!important;
    color: white!important;
}
.button-secondary {
    color: white!important;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
    text-decoration: none;
}
.slide-right-secondary:hover {
    box-shadow: inset 400px 0 0 0 #ffffff !important;
    color: black!important;
}
.button-light {
    color: white;
    background-color: #e70000;
    border-radius: 0px;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 0 #dbdbdb;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
    text-decoration: none;
    top: 0;
    right: 0;
    bottom: 0;
}
.slide-right-light:hover {
    box-shadow: inset 400px 0 0 0 #dbdbdb;
    color: black!important;
}
.submit-button {
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: 18px 36px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e70000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
    text-decoration: none;
}
.slide-right-submit:hover {
    box-shadow: inset 400px 0 0 0 #ee0000;
    color: white!important;
}
/* /.button */

/* navbar */
.nav-item>a{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.nav-link{
    transition: 0.5s;
}
.nav-link:hover{
    color: #e70000!important;
}
.navbar-nav>li>a {
    padding-left: 25px!important;
    padding-right: 25px!important;
}
.bgColor{
    transition: 0.3s ease-in-out;
}
.bgColor.scrolled{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* /.navbar */

/* header */
.header-tag{
    font-size: 32px;
    font-weight: 500;
}
.header-title{
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
}
.header-paragraph{
    font-size: 24px!important;
    font-weight: 400!important;
}
/* /.header */

/* about */
.about-background{
    background-image: url("../images/about-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.manage-text{
    text-align: justify;
    word-break: break-all;
    padding-right: 100px;
}
.vl{
    border-left: 1px solid #c6c6c6;
    height: 80px;
    margin: 0 50px 0 50px;
}
/* /.about */

/* about ( counter ) */
.counter-text{
    color: black;
    font-size: 20px;
    margin: 0;
    padding-right: 0;
    line-height: 5px;
}
.count-number{
    font-size: 52px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e70000;
}
/* /.about ( counter ) */

/* services */
.service-title{
    font-size: 18px;
    color: #e70000;
    line-height: 5px;
}
.service-heading{
    font-weight: 600;
    font-size: 42px;
}
.service-paragraph{
    font-size: 16px;
    text-align: justify;
    word-break: break-all;
}
/* /.services */

/* recent projects */
.project-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.project-link{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}
.project-link:hover{
    color: #e70000 !important;
    text-decoration: none!important;
}
.project-parent-div{
    position: relative;
}
.project-child-div{
    position: absolute;
    top: 190px;
    font-size: 84px;
    font-weight: 700;
    font-family: Arial;
    color: black!important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e70000;
}
.fa-chevron-right{
    transition: 0.4s;
}
/* /.recent projects */

/* testimonials */
.say-quote-icon{
    background-color: #ee0000;
    padding: 5px;
    color: white;
    border-radius: 50%;
}
/* /.testimonials */

/* testimonial images */
.reviewImg-1{
    background-image: url("../images/testimonial-images/testimonial1.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.reviewImg-2{
    background-image: url("../images/testimonial-images/testimonial2.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.reviewImg-3{
    background-image: url("../images/testimonial-images/testimonial3.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.reviewImg-4{
    background-image: url("../images/testimonial-images/testimonial2.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
/* /.testimonial images */

/* subscribe */
.subscribe-background{
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.subscribe-title{
    font-size: 38px;
    color: white;
    font-weight: 300;
}
.text-underline {
    border-bottom: 3px solid #e70000;
    font-weight: 600!important;
}
.subscribe-field{
    border: none;
    outline: none;
    padding: 20px 30px;
    width: 500px;
}
input, select, .input-color{
    color: black;
}
.input-color:focus, input:focus {
    color: black;
}
/* /.subscribe */

/* updates and blogs */
.parent-div{
    position: relative;
    overflow: hidden;
}
.content-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 70%);
}
.blog-link{
    color: black!important;
    background-color: white;
    border-radius: 50%;
    padding: 10px 15px;
    text-decoration: none!important;
    font-size: 28px;
    font-weight: 300;
    transition: 0.3s;
}
.blog-title > a{
    color: white!important;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}
.blog-title:hover > a {
    text-decoration: underline;
    color: white!important;
}
.blog-title > span{
    color: #ffffff;
}
/* /.updates and blogs */

/* contact */
.contact-head{
    font-weight: 500;
    font-size: 42px;
    color: #e70000;
}
.text-----underline{
    border-bottom: 2px solid black;
}
.contact-div{
    background-color: black;
}
.icon-background{
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    border: 3px solid #e70000;
}
/* /.contact */

/* image hover (normal zoom) */
.img-wrapper {
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}

.inner-img {
    transition: 0.5s;
}

.inner-img:hover {
    transform: scale(1.1);
}
/* image hover (normal zoom) */

/* address + mail + call */
.address>span{
    font-size: 22px;
    font-weight: 600;
}
.address>p{
    font-size: 18px;
    font-weight: 400;
}
.call>span{
    font-size: 22px;
    font-weight: 600;
}
.call>p{
    font-size: 18px;
    font-weight: 400;
}
.fa-icon>a{
    padding: 0 40px 0 0;
    color: black!important;
    transition: 0.3s;
}
.fa-icon>a:hover .icon{
    color: white!important;
    background-color: #e70000;
}
.fa--icon>a{
    padding: 0 40px 0 0;
    color: black!important;
    transition: 0.3s;
}
.fa--icon>a:hover .icon{
    color: white!important;
    background-color: #e70000;
}
.icon{
    border: 1px solid #e70000;
    border-radius: 50%;
    padding: 12px 13px 12px 13px;
    transition: 0.3s;
}
/* /.address + mail + call */

/*  submit form */
.form-background{
    background-image: url("../images/form-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.input-field{
    border: 0;
    outline: 0;
    border-bottom: 2px solid #666666;
    color: black;
    font-size: 18px;
    background: transparent;
    transition: 0.3s ease;
    padding: 15px 0;
    width: 100%;
}
.input-field:focus{
    border-bottom: 2px solid #e70000;
}
.input-field::placeholder{
    color: white;
}
input, select, textarea{
    color: white;
}
textarea:focus, input:focus {
    color: white;
}
/* /. submit form */

/* trusted partners */
.trusted-partners{
    font-size: 42px;
    font-weight: 400;
}
.partner-div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* /.trusted partners */

/* footer */
.footer-title{
    font-weight: 500;
    word-spacing: 3px;
    font-size: 18px;
}
.footer-heading{
    font-weight: 600;
    font-size: 74px;
    line-height: 90px;
}
.white-outline{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}
.links-heading{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.links{
    color: #8d8d8d !important;
    text-decoration: none!important;
    transition: 0.3s;
    font-size: 18px;
}
.links:hover{
    color: black!important;
    padding-left: 5px;
}
.footer-icons{
    color: #8d8d8d!important;
    transition: 0.3s;
}
.footer-icons:hover{
    color: #e70000!important;
}
.footer-paragraph{
    color: #8d8d8d!important;
    font-size: 18px;
}
.my-name{
    color: black!important;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
.my-name:hover{
    color: #e70000!important;
}
/* /.footer */

/* owl-carousel (blogs) */
.wrapper .owl-dot.active span{
    width: 30px !important;
    background-color: #e70000!important;
}
.wrapper .owl-dot:hover span{
    background-color: #e70000!important;
}
.wrapper .owl-prev,.wrapper .owl-next{
    position: absolute;
    top: 480px!important;
    height: 30px;
    width: 30px;
    border-radius: 100% !important;
}
.wrapper .owl-prev:hover,.wrapper .owl-next:hover{
    background-color: white!important;
}
.wrapper .owl-prev{
    left: 0;
    color: #e70000!important;
}
.wrapper .owl-next{
    right: 0;
    color: #e70000!important;
}
/* /.owl-carousel (blogs) */

/* owl-carousel (testimonial) */
.wrapper .owl-dot.active span{
    width: 30px !important;
    background-color: #e70000!important;
}
.wrapper .owl-dot:hover span{
    background-color: #e70000!important;
}
.wrapper .owl-prev,.wrapper .owl-next{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100% !important;
}

.wrapper .owl-prev{
    left: 0;
    font-size: 24px!important;
    color: black!important;
}
.wrapper .owl-next{
    right: 0;
    font-size: 24px!important;
    color: black!important;
}
/* owl-carousel (testimonial) */

/* /.media queries */
@media only screen and (min-width: 300px) and (max-width: 480px){
    /* heading */
    .heading-lg{
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
    /* text */
    .text-lg{
        font-size: 16px;
    }
    /* button */
    .button{
        padding: 15px 30px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    /* navbar */
    .navbar-nav>li>a {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    /* header */
    .header-title{
        font-size: 60px;
        font-weight: 600;
        line-height: 70px;
    }
    /* about */
    .section-title{
        font-size: 16px;
    }
    .manage-text{
        text-align: justify;
        word-break: break-all;
        padding-right: 10px;
    }
    /* recent projects */
    .project-child-div{
        position: absolute;
        top: 180px;
        font-size: 84px;
        font-weight: 700;
        font-family: Arial;
        color: black!important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #e70000;
    }
    .bounce-child{
        position: absolute;
        top: 40px!important;
        left: 5px!important;
    }
    .bounce--child{
        position: absolute;
        top: 200px!important;
        left: 270px!important;
    }
    .bounce---child{
        position: absolute;
        top: 400px!important;
        left: 100px!important;
    }
    .vl {
        border-left: 1px solid #c6c6c6;
        height: 80px;
        margin: 0 10px 0 10px;
    }
    /* subscribe */
    .subscribe-field{
        border: none;
        outline: none;
        padding: 12px 22px;
        width: 320px;
    }
    .button-light {
        color: white;
        background-color: #e70000;
        padding: 12px 22px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 0 #dbdbdb;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.3s;
        text-decoration: none;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .project-title > h3 {
        padding: 50px 0 0 0!important;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 56px;
        line-height: 65px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    /* heading */
    .heading-lg{
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
    /* text */
    .text-lg{
        font-size: 16px;
    }
    /* button */
    .button{
        padding: 15px 30px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    /* navbar */
    .navbar-nav>li>a {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    /* header */
    .header-title{
        font-size: 60px;
        font-weight: 600;
        line-height: 70px;
    }
    /* about */
    .section-title{
        font-size: 16px;
    }
    /* recent projects */
    .project-child-div{
        position: absolute;
        top: 210px;
        font-size: 84px;
        font-weight: 700;
        font-family: Arial;
        color: black!important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #e70000;
    }
    .bounce-child{
        position: absolute;
        top: 40px!important;
        left: 5px!important;
    }
    .bounce--child{
        position: absolute;
        top: 200px!important;
        left: 320px!important;
    }
    .bounce---child{
        position: absolute;
        top: 400px!important;
        left: 100px!important;
    }
    .manage-text{
        text-align: justify;
        word-break: break-all;
        padding-right: 20px;
    }
    .vl {
        border-left: 1px solid #c6c6c6;
        height: 80px;
        margin: 0 20px 0 20px;
    }
    /* subscribe */
    .subscribe-field{
        border: none;
        outline: none;
        padding: 14px 24px;
        width: 350px;
    }
    .button-light {
        color: white;
        background-color: #e70000;
        padding: 14px 24px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 0 #dbdbdb;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.3s;
        text-decoration: none;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 72px;
        line-height: 100px;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 58px;
        line-height: 70px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    /* heading */
    .heading-lg{
        font-size: 34px;
        font-weight: 600;
    }
    /* text */
    .text-lg{
        font-size: 18px;
    }
    /* button */
    .button{
        padding: 18px 36px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    /* navbar */
    .navbar-nav>li>a {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    /* header */
    .header-title{
        font-size: 80px;
        font-weight: 600;
        line-height: 90px;
    }
    /* recent projects */
    .project-child-div{
        position: absolute;
        top: 140px;
        font-size: 84px;
        font-weight: 700;
        font-family: Arial;
        color: black!important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #e70000;
    }
    .bounce-child{
        position: absolute;
        top: 60px;
        left: 10px;
    }
    .bounce--child{
        position: absolute;
        top: 220px;
        left: 300px;
    }
    .bounce---child{
        position: absolute;
        top: 480px;
        left: 80px;
    }
    .manage-text{
        text-align: justify;
        word-break: break-all;
        padding-right: 30px;
    }
    .vl {
        border-left: 1px solid #c6c6c6;
        height: 80px;
        margin: 0 30px 0 30px;
    }
    .subscribe-field{
        border: none;
        outline: none;
        padding: 16px 26px;
        width: 400px;
    }
    .button-light {
        color: white;
        background-color: #e70000;
        padding: 16px 26px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 0 #dbdbdb;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.3s;
        text-decoration: none;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .project-title > h3 {
        padding: 10px 0 0 0!important;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 62px;
        line-height: 80px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px){
    /* heading */
    .heading-lg{
        font-size: 38px;
        font-weight: 600;
    }
    /* text */
    .text-lg{
        font-size: 18px;
    }
    /* button */
    .button{
        padding: 18px 36px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    /* navbar */
    .navbar-nav>li>a {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    /* recent projects */
    .project-child-div{
        position: absolute;
        top: 140px;
        font-size: 84px;
        font-weight: 700;
        font-family: Arial;
        color: black!important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #e70000;
    }
    .bounce-child{
        position: absolute;
        top: 60px;
        left: 10px;
    }
    .bounce--child{
        position: absolute;
        top: 220px;
        left: 300px;
    }
    .bounce---child{
        position: absolute;
        top: 450px;
        left: 80px;
    }
    .vl {
        border-left: 1px solid #c6c6c6;
        height: 80px;
        margin: 0 35px 0 35px;
    }
    .subscribe-field{
        border: none;
        outline: none;
        padding: 18px 28px;
        width: 450px;
    }
    .button-light {
        color: white;
        background-color: #e70000;
        padding: 18px 28px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 0 #dbdbdb;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.3s;
        text-decoration: none;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .project-title > h3 {
        padding: 0 0 0 0!important;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 68px;
        line-height: 85px;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1366px){
    /* heading */
    .heading-lg{
        font-size: 42px;
        font-weight: 600;
    }
    /* text */
    .text-lg{
        font-size: 18px;
    }
    /* button */
    .button{
        padding: 18px 36px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    /* navbar */
    .navbar-nav>li>a {
        padding-left: 25px!important;
        padding-right: 25px!important;
    }
    .upper-div-two{
        display: block;
    }
    .upper-div-one{
        display: block;
    }
    .upper-div-one{
        background-color: white;
        position: absolute;
        top: 50px;
        right: 450px;
    }
    .upper-div-two{
        background-color: white;
        position: absolute;
        top: 500px;
        left: 400px;
    }
    .bounce-child{
        position: absolute;
        top: 80px;
        left: 30px;
    }
    .bounce--child{
        position: absolute;
        top: 250px;
        left: 500px;
    }
    .bounce---child{
        position: absolute;
        top: 420px;
        left: 180px;
    }
    .manage-text{
        text-align: justify;
        word-break: break-all;
        padding-right: 100px;
    }
    .vl {
        border-left: 1px solid #c6c6c6;
        height: 80px;
        margin: 0 50px 0 50px;
    }
    .subscribe-field{
        border: none;
        outline: none;
        padding: 20px 30px;
        width: 500px;
    }
    .button-light {
        color: white;
        background-color: #e70000;
        border-radius: 0px;
        padding: 20px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 0 #dbdbdb;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.3s;
        text-decoration: none;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .project-title > h3 {
        padding: 50px 0 0 0!important;
    }
    .footer-heading{
        font-weight: 600;
        font-size: 74px;
        line-height: 90px;
    }
}
/* /.media queries */

/* bouncing animation */
.bounce-item{
    animation: key1 .98s ease infinite alternate;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@keyframes key1{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-8px);}
}
/* /.bouncing animation */

/* adjust bouncing animation div */
.bounce-parent{
    position: relative;
}
.bounce-child{
    position: absolute;
    top: 80px;
    left: 30px;
}
.bounce--child{
    position: absolute;
    top: 250px;
    left: 500px;
}
.bounce---child{
    position: absolute;
    top: 420px;
    left: 180px;
}
.tool{
    padding-left: 5px;
}
.tool > .tool-title{
    font-weight: 600;
}
/* /. adjust bouncing animation div */

/* services card-animation */
.container .card {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    backdrop-filter: blur(10px);
    color: black;
    border: none;
}
.imgBx{
    border: 3px solid #e70000;
    border-radius: 50%;
}
.container .card .content {
    position: relative;
    transition: 0.5s;
    color: black!important;
}
.container .card:hover .content {
    transform: translateY(-20px);
}
.container .card .content .contentBx h3 {
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 1.1em;
}
.container .card .sci li {
    list-style: none;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    padding-right: 35px;
}
.container .card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a {
    color: #050505;
    font-size: 20px;
}
/* /.services card-animation */

/* text underline animation */
.content-item {
    margin: 0;
    padding: 0;
    counter-increment: itemcounter;
    position: relative;
}
.link {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
}
.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}
.link::before {
    content: '';
}
.link--eirene {
    font-weight: 600;
}
.link--eirene::before {
    height: 7px;
    border-radius: 20px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53);
    color: #e70000!important;
}
.link--eirene:hover::before {
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    opacity: 1;
    transform: scale3d(1.2, 0.1, 1);
}
.link--eirene span {
    transform: translate3d(0, -4px, 0);
    display: inline-block;
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
}
.link--eirene:hover span {
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    transition-delay: 0s;
}
a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}
a:hover {
    color: var(--color-link-hover);
    outline: none;
    color: black!important;
}
a:focus {
    outline: none;
    background: lightgrey;
}
a:focus:not(:focus-visible) {
    background: transparent;
}
a:focus-visible {
    outline: 2px solid #e70000;
    background: transparent;
}
/* ---------- */
.link-elara {
    font-size: 14px;
    font-weight: 400;

}
.link-elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}
.link-elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}
.link-elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link-elara:hover span {
    color: #e70000!important;
    transform: translate3d(0, -2px, 0);
}
/* ---------- */
.link-carpo {
    text-transform: uppercase;
    font-weight: 500;
}
.link-carpo::before {
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}
.link-carpo:hover::before {
    transform: scale3d(1, 1, 1);
}
.link-carpo::after {
    content: '';
    top: calc(100% + 4px);
    transition: transform 0.3s;
    transform-origin: 100% 50%;
}
.link-carpo:hover::after {
    color: #e70000!important;
    transform: scale3d(0, 1, 1);
}
/* /.text underline animation */

/* map */
.map{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    border: none!important;
}
iframe {
    margin: 0;
    padding: 0;
    border: 0!important;
    line-height: 0;
    display: block;
}
/* /.map */

/* scroll top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
}
#myBtn:hover {
    background-color: #e70000;
    color: white;
}
/* /.scroll top */